@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@200;300;400;600;700;800&family=Inter:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #F3F5FC;
}
 .logo {
    margin-left: 2%;
    margin-top: 1%;
    width: 2%;
 }

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #F3F5FC;
}

.text {

    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 10%;
    border: none;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    background-color: #F3F5FC;
    color: #0A3871;
    resize:none;

}

.text::placeholder {
    color: #0A3871;
}

.text:focus,
.text:active {
    border: none;
    outline: none;
}

.subalert {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.subalert p {
    color: #495057;
    font-size: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn-encrypt {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 10px;
    width: 25%;
    background-color: #0A3871;
    color: #FFF;
    cursor: pointer;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    margin-right: 3%;
}

.btn-encrypt:hover {
    background-color: #15498a;
    transition: all .3s;
}

.btn-decrypt {

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    color: #104280;
    
    
}

.btn-decrypt:hover {
    background-color: #c1c9d3;
    transition: all .3s;
}

.right {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #FFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.encrypted-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 60%;
    text-align: center;
}

.encrypted-message h1 {
    width: 60%;
    text-align: center;
    color: #343A40;
}

.encrypted-message p {
    width: 60%;
    text-align: center;
    color: #495057;
}

.illustration {
    position: absolute;
    top: 15%;
    transform: scale(1);
}

.message {

    border: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    color: #495057;
    margin-top: 5%;
    resize:none;

}

.message::placeholder {
    color: #495057;
}

.message:focus,
.message:active {
    border: none;
    outline: none;
}

.btn-copy {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 70%;
    height: 80px;
    background-color: #FFF;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    color: #104280;
}

.btn-copy:hover {
    background-color: #f0f2f5;
    transition: all .3s;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: #777;
    margin-top: 50px;
    height: 1%;
    color: #0A3871;
    font-weight: 600;
  }
  
.footer {
    max-width: 1200px;
    margin: 0 auto;
  }

@media (max-width: 57.5em) {

    .container {
        display: flex;
        flex-direction: row;
    }

    .left {
        width: 100%;
    }

    .text {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .subalert {
        width: 80%;
        left: 10%;
        top: 67%;
    }

    .subalert p{
        font-size: 16px;
    }

    .buttons {
        width: 80%;
        left: 10%;
        top: 70%;
    }

    .btn-encrypt, .btn-decrypt {
        width: 48%;
        border-radius: 16px;
    }

    .right {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }

    .encrypted-message {
        width: 100%;
        top: 5%;
    }

    .illustration {
        top: 0;
        display: none;
        visibility: hidden;
    }

    
}